$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 15px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  border-top: 1px solid #e5e5e5;
  padding-top: 19px;
  color: #777;
  margin-top: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  .footer {
    margin-top: 30px;
  }
}

.directions-error{
  color: #c7254e;
}

.results-nav a{
  margin-bottom: 10px;
}

.results{
  z-index: 6;
  position: absolute !important;
  width: 400px;
  top: 115px;
  bottom: 20px;
  right: 10px;
}
.results-list{
  position: absolute !important;
  width: 370px;
  top: 70px;
  bottom: 40px;
  overflow-y: scroll;
}

.turn-by-turn-btn{
  position: absolute !important;
  bottom: 10px;
  right: 10px;
}

.addedResult{
  background-color: rgba(51, 122, 183, 0.25);
}

.route-stats{
  position: absolute !important;
  bottom: 15px;
  font-size: 14px;
  right: 120px;
}

#results-map-canvas{
  z-index: 5;
  position: absolute !important;
  left: 0px;
  right: 0px;
  top: 105px;
  bottom: 0px;
}

.route-form{
  input{
    margin-bottom: 5px;
  }
}

.add-result-button{
  position: absolute;
  right: 7px;
  top: 7px;
  width: 25px;
  height: 25px;
  font-size: 12px;
  line-height: 0px;
  padding-left: 8px;
  color: #6f6f6f;
  z-index: 7;
}
.remove-result-button{
  position: absolute;
  right: 7px;
  top: 7px;
  width: 25px;
  height: 25px;
  font-size: 12px;
  line-height: 0px;
  padding-left: 9px;
  color: #6f6f6f;
  z-index: 7;
}